html {
    background-color: #E8E2D2;
  }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* width: 50%; */
}

#loading-element {
  color: #6a64f1;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  display: none;
}


input:focus:invalid {
  background: url("/images/exclamation-mark-svgrepo-com.svg") no-repeat 95% 50%;
  background-size: 25px;
  border: 1px solid darkorange;
}

input[type="number"]:focus:invalid {
  background: url("/images/exclamation-mark-svgrepo-com.svg") no-repeat 92% 50%;
  background-size: 25px;
  border: 1px solid darkorange;
}

select:focus:invalid {
  background: url("/images/exclamation-mark-svgrepo-com.svg") no-repeat 98% 50%;
  background-size: 25px;
  border: 1px solid darkorange;
}